
/*
/* css for 1st question */
#Box{
    background-color: blueviolet;
    /* color:white; */
}

/* css for second question */
/* way 1 */
.heading{ 
    color:red;
}
/* way 2 */
/*h1,h2,h3{
    color:black;
}*/

/* css for third question */
button{
    background-color:green;
    color:black;
}

/*Css for learning text aligns*/
p{
    text-align: left;
}

h1{
    text-align: center;
    text-decoration:underline;
    }

a{
    text-decoration: none;
}

/* text-orientation (font-weight)=> bold/bolder/lighter */
#h1{
    font-weight: normal;
    }

#h2{
    font-weight: solid;

}

#h3{
    font-weight: bolder;
}
#h4{
    font-weight: lighter;
    
}