
/*
/* css for 1st question */
#Box{
    background-color: blueviolet;
    /* color:white; */
}

/* css for second question */
/* way 1 */
.heading{ 
    color:red;
}
/* way 2 */
/*h1,h2,h3{
    color:black;
}*/

/* css for third question */
button{
    background-color:green;
    color:black;
}
 
.body{
    color:hotpink;
}