h1{
    color:brown;
}
h2{
    color:brown;
}
button{
    color:blueviolet;
    flex-direction: column-reverse;
    border-radius: 7cqb;
    background-color: chartreuse;
}
body{
    background-color: cornflowerblue;
}